{"filter":false,"title":".gitignore","tooltip":"/ignore-tutorial/.gitignore","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":11},"action":"insert","lines":["sample.html"],"id":1}],[{"start":{"row":0,"column":11},"end":{"row":1,"column":0},"action":"insert","lines":["",""],"id":2},{"start":{"row":1,"column":0},"end":{"row":2,"column":0},"action":"insert","lines":["",""]}],[{"start":{"row":2,"column":0},"end":{"row":9,"column":5},"action":"insert","lines":["# # のあとはコメントになる","","# 指定フォルダ以下はすべて無視する（フォルダの最後は / ）","sample_folder/","","# *を使うと色々なファイル名にマッチする","# 下記は.txtが拡張子のファイルはすべて無視","*.txt"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":5},"end":{"row":9,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1603370992140,"hash":"cfaf9d02dd1b07f10833fb3a6a1c1d564dd46bc6"}